/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

/* css variables */
:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainbeige: rgb(255, 170, 60, 0.3);
  --darkbeige: rgb(255, 170, 60, 0.8);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: "Futura", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
  width: 100%;
}

/*************** global styles ***************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* more global styles */

/* buttons */

/* section */

/* title */

/*************** end of global styles ***************/
/*************** navbar ***************/
ul {
  list-style-type: none;
  height: 50px;
  position: fixed;
  z-index: 2;
  min-width: 900px;
  width: 100%;
}
li {
  float: left;
  display: block;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-family: "Brush Script MT", "cursive";
  font-size: 30px;
}
/*************** fin navbar ***************/
/*************** Structure site ***************/
.main-container {
  display: grid;
  grid-area: "fileText illustration1" "vague vague"
    "productiveText illustration2" "avis illustration2" "earlyacces form2"
    "foot foot";
}
/*************** fin Structure site ***************/

/*************** Accroche ***************/

/*************** fin de Accroche***************/
/*************** Valise section ***************/

/*************** end of about section ***************/
/*************** services section ***************/

/*************** end of services section ***************/
/*************** featured tours section ***************/

/*************** end of featured tours section ***************/
/*************** gallery ***************/

/*************** end of gallery ***************/
/*************** deals ***************/

/*************** end of deals ***************/
/*************** footer ***************/
/************ navbar *****************/

/* CSS */
